<div class="row">
  <div class="col-sm-12" style="text-align:center; margin-top: 200px;">
    <h1>Concerto</h1>
    <h2>by Opus Group</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12" style="text-align:center;">
    <%= link_to 'Login with Google', auth_at_provider_path(:provider => :google) %>
  </div>
</div>
